@font-face {
  font-family: 'MyFont';
  src: url('./my-font.ttf'); /* 我最初选择的字体ttf文件无法顺利使用，直到我换了这种 */
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'MyFont';
  background: url('./icon.png'); /* css-loader会识别，返回处理后的url并替换 */
}